@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed&display=swap');

html,
body {
	height: 100vh;
	background-color: #f5f5f5;
	color: #d8ebf5;
}

div#root {
	height: 100vh;
	background-color: #f5f5f5;
	font-family: 'Ubuntu', sans-serif;
	color: #0674af;
}

.btn {
	font-family: 'Ubuntu', sans-serif;
}

.form-label-group {
	margin-top: 2vh;
}

.error {
	font-size: 10px;
	font-weight: bold;
	color: #ff0000;
}

.container,
.container-fluid {
	padding-top: 2vh;
	margin-bottom: 5vh;
}
.btn-menu {
	margin: 2vh 0;
}
.margin-right {
	margin-right: 0.5vw;
}

/* header */
.header {
	background-color: #0674af;
	color: #f3f3f3;
	padding: 1vh;
	border-bottom: 2px solid #08bcf1;
}

.header img {
	margin: 2vh;
	height: 15vh;
}

.header p {
	font-size: 2vh;
	margin: 1vh 0;
}

.header h2 {
	font-size: 3vh;
	font-weight: bolder;
}
.header h3 {
	font-size: 2.5vh;
	font-weight: bolder;
}

.white {
	color: #f3f3f3;
}

/** qrcode styles */
.qrcode-img {
	height: 70%;
	width: 50%;
	margin-bottom: 2vh;
}

.qrcode-bar {
	color: #000;
	font-size: 4vh;
	text-align: center;
	padding: 10px;
}
